h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya';
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

.navbar-default {
    background-color: #a88d12;
    background-image: url(../img/header.png);
    border: none;
}

.navbar-default .navbar-brand {
    color: #555826;
    font-family: 'Alegreya';
    line-height: 10px;
    font-size: 12px;
    padding: 0;
    height: 10px
}

.navbar-default .navbar-brand:hover {
    color: #9fa26c;
}

.navbar-default .navbar-nav li a {
    color: #555826;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    background-color: #c8cb9d;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: #9fa26c;
}

.navbar-default .navbar-nav .active a:hover {
    color: #c8cb9d;
    background-color: #9fa26c;
}

.navbar-default .navbar-toggle:hover{
    background-color: #c8cb9d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    background-color: #c8cb9d;
}

.dropdown-header {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding-left :10px;
}
.dropdown-menu li a {
    color: #fff;
}

.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #c8cb9d;
    color: #555826;
}

.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #9fa26c;
    color: #fff;
}

.navbar-nav li a {
    line-height: 1em;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 10px;
    }
    .dropdown-menu>li>a {
        padding: 3px 10px;
    }
    .navbar-nav>li>a {
        padding: 10px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 24px;
        padding: 10px 15px;
    }
    #content{
        margin-top: 10px;
        padding: 50px 75px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 10px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
